body {
    margin: 0;
    background: linear-gradient(to right, #4040BF, #4086BF);
    color: white;
    font-family: 'Anton', sans-serif;
}
#content {
    width: 100vw;
    height: 100vh;
}
.header {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
.header-name {
    color: #4086BF;
    box-sizing: border-box;
    font-size: 44px;
    padding: 10px 10px;
    margin-left: 10px;
    width: 80%;
    animation: draw-header 2s ease-in-out;
}
.header-logo {
    box-sizing: border-box;
    border-radius: 100%;
    background-color: #4086BF;
    padding: 9.2px 12px;
    margin-left: 20px;
    opacity: 1;
    animation: show-logo 2s ease-in-out;    
}
.header-logo img {
    height: 40px;
    width: 40px;
}

.header-help {
    color: #4086BF;
    font-size: 40px;
    justify-self: flex-end;
    width: 18%;
    text-align: center;
    animation: draw-header 2s ease-in-out;
    position: relative;
    display: inline-block;

}
#help-icon {
    transition: transform 1s ;
}
#help-icon:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.header-help-text {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: justify;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.show-header-help-text {
    display: block;
}

@keyframes draw-header {
    0% {
        color: white;
    }

    100% {
        color: #4086BF;
    }
}
@keyframes show-logo {
    0% {
        margin-left: -300px;
        
    }
    100% {
        margin-left: 20px;
    }
}

.rain {
    height: 50vh;
    width: 100%;
    background: url(./public/rain/rain.png);
    animation: rain 7s linear infinite;
    animation-direction: reverse;
}
@keyframes rain {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 2000%;
    }
}
.rain::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/rain/lake.jpg) center;
}
.snow {
    height: 50vh;
    width: 100%;
    background: url(./public/snow/snow.png);
    animation: snowy 40s linear infinite;
    animation-direction: reverse;
}
@keyframes snowy {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 2000%;
    }
}
.snow::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/snow/snow-view.jpg) center;
}
.sun {
    height: 50vh;
    width: 100%;
    background: url(./public/sun/sun.png) no-repeat center;
    animation: sun 25s linear;
}
@keyframes sun {
    0% {
        background-position: 0% 0%;
    }

    10% {
        background-position: 20% 20%;
    }

    20% {
        background-position: 40% 40%;
    }

    30% {
        background-position: 60% 60%;
    }

    40% {
        background-position: 80% 80%;
    }

    50% {
        background-position: 100% 80%;
    }

    60% {
        background-position: 120% 80%;
    }

    70% {
        background-position: 140% 60%;
    }

    80% {
        background-position: 160% 40%;
    }

    90% {
        background-position: 180% 20%;
    }

    100% {
        background-position: 200% 0%;
    }
}
.sun::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/sun/cloud.jpg) center no-repeat;
    background-size: cover;
}


.days-container{ 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color:#fff7f9; 
}

.days{
    width:70%;
    height:80%;
    display:flex;
    min-width: 700px;
    max-width: 1000px; 
}
.days > div{
    font-family:'Gamja Flower', cursive;
}
.days > .day{
    width: 20%;
    height: 100%;
} 

.day-name-container{
    width: 100%;
    height: 15%;
    text-align: center;
}

.day-icon-container{
    width: 100%;
    height: 40%;   
}

.day-temperature{
    width: 100%;
    height: 10%;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    color:black;
}
.day-temperature .celsius,.fahrenheit{
    width: 25%;
    height: 80%;
    min-width: 70px;
}



.day-details-container{
    height: 50%;
    width: 100%;
    padding-bottom: 10%;
    box-sizing: border-box;
}
.day-details-description-container{
    width: 100%;
    height: 30%;
}
.day-details-description{
    font-size: 1.4em;
    color:black;    
    text-align: center;
    padding-top: 5%;
    height: 100%;
    box-sizing: border-box;
}
.day-details-small-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.day-details{
    height: 100%;
    width: 90%;
    display: flex;
}
.day-details ul{
    justify-content: flex-start;
    padding: 0;
    list-style-type:none;
    width: 90%
}
.day-name {
    font-size: 1.6em;
    color: lightsalmon;
    padding-top: 5%;
    height: 100%;
    box-sizing: border-box;
}
li{
    margin: 5px 0;
    color:black;
    font-size: 1em;  
}
.day-details ul li span{
    float:right;
}
.daybox{
    height:85%;
    border-left: solid 1.5px #bd8a7c;
}
.days :nth-child(1) :nth-child(2){
    border:none;
}
.day-icon-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar {
    background-color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copyright_text {
    float: left;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.3);
}

.navbar a.active {
    background-color: rgb(76, 119, 175);
    color: white;
}

.app {
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.headerblue {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.headerblue .city {
    position: absolute;
    width: 100%;
    margin-top: -0.5em;
    display: block;
    font-size: 5vh;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.headerblue .city i.fa {
    position: relative;

}

.headerblue .weatherblue {
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 6px;
    text-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
}

.headerblue .tempblue {
     position: absolute;
     font-size: 0.4em;
     font-weight: 30;
     text-transform: uppercase;
     margin-left: 6em;
     margin-top: 1em;
}

.headerblue .tempblue .unitblue {
    position: absolute;
    font-size: 0.5em;
    font-weight: 30;
    text-transform: uppercase;
    margin-left: 0.2em;
}

.headerblue .weatherblue >.wi {
    position: relative;
    top: -25px;
}

.headerblue .weatherblue .wind-scale {
    position: absolute;
    font-size: 40px;
    font-weight: 200; 
    margin-left: -12em;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
}

.headerblue .weatherblue .wind .wi,
.headerblue .weatherblue .wind-scale .wi {
    position: relative;
    font-size: 48px;
    margin-left: 0.2em;
}

.headerblue .weatherblue .day {
    position: absolute;
    font-size: 0.3em;
    font-weight: 200;
    margin-left: 2.5em;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    
}

.headerblue .weatherblue {
 position: absolute;
 font-size: 12em;
 left: 0;
 top: 0;
 margin-left: -1vh;
 margin-top: 25vh;
 bottom: 5px;
 text-shadow: none;
 opacity: 1;
}

.headerblue:before,
.headerblue:after {
    position: absolute;
}