body {
    margin: 0;
    background: linear-gradient(to right, #4040BF, #4086BF);
    color: white;
    font-family: 'Anton', sans-serif;
}
#content {
    width: 100vw;
    height: 100vh;
}
.header {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
.header-name {
    color: #4086BF;
    box-sizing: border-box;
    font-size: 44px;
    padding: 10px 10px;
    margin-left: 10px;
    width: 80%;
    animation: draw-header 2s ease-in-out;
}
.header-logo {
    box-sizing: border-box;
    border-radius: 100%;
    background-color: #4086BF;
    padding: 9.2px 12px;
    margin-left: 20px;
    opacity: 1;
    animation: show-logo 2s ease-in-out;    
}
.header-logo img {
    height: 40px;
    width: 40px;
}

.header-help {
    color: #4086BF;
    font-size: 40px;
    justify-self: flex-end;
    width: 18%;
    text-align: center;
    animation: draw-header 2s ease-in-out;
    position: relative;
    display: inline-block;

}
#help-icon {
    transition: transform 1s ;
}
#help-icon:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.header-help-text {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: justify;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.show-header-help-text {
    display: block;
}

@keyframes draw-header {
    0% {
        color: white;
    }

    100% {
        color: #4086BF;
    }
}
@keyframes show-logo {
    0% {
        margin-left: -300px;
        
    }
    100% {
        margin-left: 20px;
    }
}

.rain {
    height: 50vh;
    width: 100%;
    background: url(./public/rain/rain.png);
    animation: rain 7s linear infinite;
    animation-direction: reverse;
}
@keyframes rain {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 2000%;
    }
}
.rain::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/rain/lake.jpg) center;
}
.snow {
    height: 50vh;
    width: 100%;
    background: url(./public/snow/snow.png);
    animation: snowy 40s linear infinite;
    animation-direction: reverse;
}
@keyframes snowy {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 2000%;
    }
}
.snow::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/snow/snow-view.jpg) center;
}
.sun{
    height: 50vh;
    width: 100%;
    background: url(./public/sun/sun.png) no-repeat center;
    animation: sun 25s linear;
}
@keyframes sun {
    0% {
        background-position: 0% 0%;
    }
    10% {
        background-position: 20% 20%;
    }
    20% {
        background-position: 40% 40%;
    }
    30% {
        background-position: 60% 60%;
    }
    40% {
        background-position: 80% 80%;
    }
    50% {
        background-position: 100% 80%;
    }
    60% {
        background-position: 120% 80%;
    }
    70% {
        background-position: 140% 60%;
    }
    80% {
        background-position: 160% 40%;
    }
    90% {
        background-position: 180% 20%;
    }
    100% {
        background-position: 200% 0%;
    }
}
.sun::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/sun/cloud.jpg) center no-repeat;
    background-size: cover;
}


.days-container{
    
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* background-color: rgb(255, 207, 152);
     */
     background-color:#fff7f9;
     /* background-color: rgb(192, 215, 226); */
}

.days{
    
    width:70%;
    height:80%;
    display:flex;
    min-width: 700px;
    max-width: 1000px;
   
    
}

.days > .day{
    width: 20%;
    
    height: 100%;
} 

.day-name-container{
    width: 100%;
    height: 15%;
    
    text-align: center;
}

.day-icon-container{
    width: 100%;
    height: 40%;
    
}
/* .day-icon-img{
    background-image: url(../images/cloudy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */
/* .day-icon{
    background-image: url(../my-icons-collection/png/001-cloud.png)
} */
.day-temperature{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.day-temperature .celsius,.fahrenheit{
    width: 25%;
    height: 80%;
    min-width: 50px;
    
   

}



.day-details-container{
    height: 50%;
    width: 100%;
    padding-bottom: 10%;
    box-sizing: border-box;
}
.day-details-description-container{
    width: 100%;
    height: 30%;
}
.day-details-description{
    font-size: 1.4em;
    font-family: 'Gamja Flower', cursive;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-align: center;
    padding-top: 5%;
    height: 100%;
    box-sizing: border-box;
}
.day-details-small-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.day-details{
    height: 100%;
    width: 90%;
    display: flex;
}
.day-details ul{
    justify-content: flex-start;
    padding: 0;
    list-style-type:none;
    width: 90%
}
.day-name {
    font-size: 1.9em;
    font-family: 'Gamja Flower', cursive;
    color: lightsalmon;
    padding-top: 5%;
    height: 100%;
    box-sizing: border-box;
    
}
.day-temperature{
    font-size: 1.6em;
    font-family: 'Gamja Flower', cursive;
}
li{
    margin: 5px 0;
     font-family: 'Gamja Flower', cursive;
    font-size: 1.25em;  
}
.day-details ul li span{
    float:right;
}
.daybox{
    height:85%;
    border-left: solid 1.5px #bd8a7c;
}
.days :nth-child(1) :nth-child(2){
    border:none;
}
