.rain {
    height: 50vh;
    width: 100%;
    background: url(./public/rain/rain.png);
    animation: rain 7s linear infinite;
    animation-direction: reverse;
}
@keyframes rain {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 2000%;
    }
}
.rain::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/rain/lake.jpg) center;
}
.snow {
    height: 50vh;
    width: 100%;
    background: url(./public/snow/snow.png);
    animation: snowy 40s linear infinite;
    animation-direction: reverse;
}
@keyframes snowy {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 2000%;
    }
}
.snow::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/snow/snow-view.jpg) center;
}
.sun{
    height: 50vh;
    width: 100%;
    background: url(./public/sun/sun.png) no-repeat center;
    animation: sun 25s linear;
}
@keyframes sun {
    0% {
        background-position: 0% 0%;
    }
    10% {
        background-position: 20% 20%;
    }
    20% {
        background-position: 40% 40%;
    }
    30% {
        background-position: 60% 60%;
    }
    40% {
        background-position: 80% 80%;
    }
    50% {
        background-position: 100% 80%;
    }
    60% {
        background-position: 120% 80%;
    }
    70% {
        background-position: 140% 60%;
    }
    80% {
        background-position: 160% 40%;
    }
    90% {
        background-position: 180% 20%;
    }
    100% {
        background-position: 200% 0%;
    }
}
.sun::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.6;
    background: url(./public/sun/cloud.jpg) center no-repeat;
    background-size: cover;
}